
<div class='container' data-ng-controller="MainCtrl"> 

  <h1> Hello, {{user}}!</h1>

  <table ng-table class="table">
      <tr ng-repeat="user in network | orderBy:'username'">
          <td class="username-col" data-title="'Username'">{{user.username}}</td>
          <td class="beer-tab-col" data-title="'Tab'">{{user.tab}}</td>
          <td class="pay-btn-col"> 
            <button class="pay-btn" ng-hide="user.tab <= 0" ng-click="sendBeer(user.username)">Recieve</button>
            <button class="pay-btn" ng-hide="user.tab > 0" ng-click="sendBeer(user.username)">Owe</button>
         </td>
      </tr>
  </table>

  <div class="login">
    <form ng-submit="sendBeer(toUser)" name="send-beer" novalidate>
      <ul class="ul-list">
        <li class='center'>
          <div><input type="text" class="send-beer input" placeholder="I owe a beer to..." ng-model="toUser" ng-minlength="3" ng-maxlength="20" required><span class="icon"><i class="fa fa-user"></i></span></li>
        <li><input type="submit" value="SEND BEER" class="btn btn2" ng-disabled="login.$invalid" disabled="disabled"></li>
      </ul>
    </form>
  </div>
</div>
