<div id="login">
  <h1>Login</h1>

  <form novalidate name = "signin" class="form-inline">
    <div class="form-group">
      <label class="sr-only">Username</label>
      <input  type="text" 
              class="form-control" 
              placeholder="username" name="username" 
              ng-model='user.username' id="username"
              ng-minlength= 3  
              ng-maxlength= 20 required>


      
      <!-- tells you if the inputs are of the wrong type -->

      <div role="alert">
        <span class="error" ng-show="signin.username.$error.required && signin.username.$dirty">
         Required!</span>
        <span class="error" ng-show="signin.username.$error.minlength && signin.username.$dirty">
          Too short!</span>
        <span class="error" ng-show="signin.username.$error.maxlength && signin.username.$dirty">
          Too long!</span>
      </div>


    </div>

    <div class="form-group">
      <label class="sr-only">Password</label>
      <input  type="password" 
              class="form-control" 
              id="password"
              placeholder="Password" 
              name="password" 
              ng-model='user.password' 
              ng-minlength= 3 
              ng-maxlength= 20 required>

      <!-- tells you if the inputs are of the wrong type -->
      <div role="alert">
        <span class="error" ng-show="signin.password.$error.required && signin.password.$dirty">
         Required!</span>
        <span class="error" ng-show="signin.password.$error.minlength && signin.password.$dirty">
          Too short!</span>
        <span class="error" ng-show="signin.password.$error.maxlength && signin.password.$dirty">
          Too long!</span>
      </div>
    </div>



    <button type="submit" class="btn btn-default" ng-click="login()" 
            ng-disabled="signin.$invalid">Sign in</button>
  </form>

  <a href="#/signup">Sign up here</a>

</div>


<!-- 

<label>
       User name:
       <input type="text" name="userName" ng-model="user.name" required>
    </label>
    <div role="alert">
      <span class="error" ng-show="myForm.userName.$error.required">
       Required!</span>
    </div>
    <label>
       Last name:
       <input type="text" name="lastName" ng-model="user.last"
       ng-minlength="3" ng-maxlength="10">
    </label>
    <div role="alert">
      <span class="error" ng-show="myForm.lastName.$error.minlength">
        Too short!</span>
      <span class="error" ng-show="myForm.lastName.$error.maxlength">
        Too long!</span>
    </div>
 -->