<!-- 
<div id="login">
  <h1>Login</h1>

  <form novalidate name = "signin" class="form-inline">
    <div class="form-group">
      <label class="sr-only">Username</label>
      <input  type="text" 
              class="form-control" 
              placeholder="username" name="username" 
              ng-model='user.username' id="username"
              ng-minlength= 3  
              ng-maxlength= 20 required>

      <div role="alert">
        <span class="error" ng-show="signin.username.$error.required && signin.username.$dirty">
         Required!</span>
        <span class="error" ng-show="signin.username.$error.minlength && signin.username.$dirty">
          Too short!</span>
        <span class="error" ng-show="signin.username.$error.maxlength && signin.username.$dirty">
          Too long!</span>
      </div>
    </div>

    <div class="form-group">
      <label class="sr-only">Password</label>
      <input  type="password" 
              class="form-control" 
              id="password"
              placeholder="Password" 
              name="password" 
              ng-model='user.password' 
              ng-minlength= 3 
              ng-maxlength= 20 required>

      <div role="alert">
        <span class="error" ng-show="signin.password.$error.required && signin.password.$dirty">
         Required!</span>
        <span class="error" ng-show="signin.password.$error.minlength && signin.password.$dirty">
          Too short!</span>
        <span class="error" ng-show="signin.password.$error.maxlength && signin.password.$dirty">
          Too long!</span>
      </div>
    </div>

    <button type="submit" class="btn btn-default" ng-click="login()" 
            ng-disabled="signin.$invalid">Sign in</button>
  </form>

  <a href="#/signup">Sign up here</a>

</div>




<label>
       User name:
       <input type="text" name="userName" ng-model="user.name" required>
    </label>
    <div role="alert">
      <span class="error" ng-show="myForm.userName.$error.required">
       Required!</span>
    </div>
    <label>
       Last name:
       <input type="text" name="lastName" ng-model="user.last"
       ng-minlength="3" ng-maxlength="10">
    </label>
    <div role="alert">
      <span class="error" ng-show="myForm.lastName.$error.minlength">
        Too short!</span>
      <span class="error" ng-show="myForm.lastName.$error.maxlength">
        Too long!</span>
    </div>

</div>
-->

<div id="login-form" ng-controller="AuthCtrl">

  <input type="radio" checked id="login" name="switch" class="hide">
  <input type="radio" id="signup" name="switch" class="hide">

  <div>
    <ul class="form-header">
      <li><label for="login"><i class="fa fa-lock"></i> LOGIN<label for="login"></li>
      <li><label for="signup"><i class="fa fa-beer"></i> SIGN UP</label></li>
    </ul>
  </div>

  <div class="section-out">
    <section class="login-section">
      <div class="login">
        <form ng-submit="login()" name="login">
          <ul class="ul-list">
            <li><input type="text" required class="input" placeholder="Username" ng-model='user.username' ng-minlength='3' ng-maxlength='20'/><span class="icon"><i class="fa fa-user"></i></span></li>
            <li><input type="password" required class="input" placeholder="Password" ng-model='user.password' ng-minlength='3' ng-maxlength='20'/><span class="icon"><i class="fa fa-lock"></i></span></li>
            <li><span class="remember"><input type="checkbox" id="check"> <label for="check">Remember Me</label></span><span class="remember"><a href="">Forget Password</a></span></li>
            <li><input type="submit" value="SIGN IN" class="btn" ng-disabled="login.$invalid"></li>
          </ul>

          <div role="alert">
            <span class="error" ng-show="login.username.$error.required && login.username.$dirty">Required!</span>
            <span class="error" ng-show="login.username.$error.minlength && login.username.$dirty">Too short!</span>
            <span class="error" ng-show="login.username.$error.maxlength && login.username.$dirty">Too long!</span>
          </div>
        </form>
      </div>

      <div class="social-login">Or sign in with &nbsp;
        <a href="" class="fb"><i class="fa fa-facebook"></i></a>
        <a href="" class="tw"><i class="fa fa-twitter"></i></a>
        <a href="" class="gp"><i class="fa fa-google-plus"></i></a>
        <a href="" class="linked-in"><i class="fa fa-linkedin"></i></a>
      </div>
    </section>

    <section class="signup-section">
      <div class="login">
        <form ng-submit="signup()" name="signup">
          <ul class="ul-list">
            <li><input type="text" required class="input" placeholder="Username" ng-model='user.username' ng-minlength='3' ng-maxlength='20'/><span class="icon"><i class="fa fa-user"></i></span></li>
            <li><input type="password" required class="input" placeholder="Password" ng-model='user.password' ng-minlength='3' ng-maxlength='20'/><span class="icon"><i class="fa fa-lock"></i></span></li>
            <li><input type="checkbox" id="check1" ng-model="unchecked"> <label for="check1">I am over 21 years of age.</label></li>
            <li><input type="submit" value="SIGN UP" class="btn" ng-disabled="signup.$invalid && !unchecked"></li>
          </ul>

          <div role="alert">
            <span class="error" ng-show="signup.username.$error.required && signup.username.$dirty">Required!</span>
            <span class="error" ng-show="signup.username.$error.minlength && signup.username.$dirty">Too short!</span>
            <span class="error" ng-show="signup.username.$error.maxlength && signup.username.$dirty">Too long!</span>
          </div>
        </form>
      </div>

      <div class="social-login">Or sign up with &nbsp;
        <a href="" class="fb"><i class="fa fa-facebook"></i></a>
        <a href="" class="tw"><i class="fa fa-twitter"></i></a>
        <a href="" class="gp"><i class="fa fa-google-plus"></i></a>
        <a href="" class="linked-in"><i class="fa fa-linkedin"></i></a>
      </div>
    </section>
  </div>
</div>
