<div id="signup">
  <h1>Sign Up</h1>
  
  <form name="signUp"class="form-inline">

    <div class="form-group">
      <label class="sr-only">Username</label>
      <input type="text" class="form-control" 
             placeholder="username" name="username" 
             ng-model='user.username' id="username"
             ng-minlength= 3 ng-maxlength= 20 required>
      <div role="alert">
        <span class="error" ng-show="signUp.username.$error.required && signUp.username.$dirty">
         Required!</span>
        <span class="error" ng-show="signUp.username.$error.minlength && signUp.username.$dirty">
          Too short!</span>
        <span class="error" ng-show="signUp.username.$error.maxlength && signUp.username.$dirty">
          Too long!</span>
      </div>
    </div>

    <div class="form-group">
      <label class="sr-only">Password</label>
      <input type="password" class="form-control" 
             placeholder="Password" name="password" 
             ng-model='user.password' id="password"
             ng-minlength= 3 ng-maxlength= 20 required>
      <div role="alert">
        <span class="error" ng-show="signUp.password.$error.required && signUp.password.$dirty">
         Required!</span>
        <span class="error" ng-show="signUp.password.$error.minlength && signUp.password.$dirty">
          Too short!</span>
        <span class="error" ng-show="signUp.password.$error.maxlength && signUp.password.$dirty">
          Too long!</span>
      </div>
    </div>


    <div class="form-group">
      <label class="sr-only">Password</label>
      <input type="password" class="form-control" 
             placeholder="Password" name="password" 
             ng-model='user.password' id="password"
             ng-minlength= 3 ng-maxlength= 20 required>
      <div role="alert">
        <span class="error" ng-show="signUp.password.$error.required && signUp.password.$dirty">
         Required!</span>
        <span class="error" ng-show="signUp.password.$error.minlength && signUp.password.$dirty">
          Too short!</span>
        <span class="error" ng-show="signUp.password.$error.maxlength && signUp.password.$dirty">
          Too long!</span>
      </div>
    </div>

    <!-- only submits when all fields are valid -->
    <button type="submit" class="btn btn-default" ng-click="signup()" ng-disabled="signUp.$invalid">Sign up</button>
    
  </form>

  <a href="#/login">Log in here</a>

</div>
